.element__btn-like {
  padding: 0;
  margin: 0;
  width: 21px;
  height: 18px;
  border: none;
  background-image: url(../../../images/element-btn-like.svg);
  background-color: white;
  background-repeat: no-repeat;
  object-fit: cover;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
}

.element__btn-like:hover {/*захотелось*/
  opacity: 0.6;
}