@import url(./__copyright/footer__copyright.css);

.footer {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 900px){
  .footer  {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 900px) {
  .footer  {
    font-size: 18px;
    line-height: 22px;
    max-width: 882px;
    margin-top: 66px;
  } 
}